@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}

@media (max-width: 4000px) and (min-width: 3500px){
    body{
      font-size: 30px;
  }
}

.full-card-container{
  display: flex;
  justify-content: center;
}

@media (min-width: 0px) {
  .full-card{
    display: flex;
    margin-top: 21.9vh;
    width: 41.7vw;
    border-radius: 9px;
    overflow: hidden;
    min-height: 56.25vh;
  }
}

@media (max-width: 0px) {
  .full-card{
    display: flex;
    flex-direction: column;
    margin-top: 21.9vh;
    width: 41.7vw;
    border-radius: 9px;
    overflow: hidden;
    min-height: 56.25vh;
  }
}

.image{
  max-width: 50%;
}

.card-text-container{
  width: 50%;
  background-color: hsl(0, 0%, 100%);
}

.card-text{
  margin: 10.7%;
}

.card-text-category-title{
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
  font-family:  "Montserrat", sans-serif;
  letter-spacing: 6px;
  margin-bottom: 9%;
  font-weight: 500;
}

.card-text-product-title{
  font-family: "Fraunces";
  font-size: 3rem;
  font-weight: 800;
  word-spacing: 0.1rem;
  line-height: 1em;
  margin-bottom: 11.7%;
}

.card-text-product-description{
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  margin-bottom: 13.3%;
  width: 87%;
}

.card-text-product-pricing{
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 10.7%;
  overflow: hidden;
  gap: 20px;
}

.discount-pricing{
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
  font-weight: 700;
  width: 75%;
  letter-spacing: 0.1rem;
}

.original-pricing{
  width: 25%;
  color: hsl(228, 12%, 48%);
  font-family:  "Montserrat", sans-serif;
  font-size: 0.875rem;
}

.add-to-cart-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11%;
  background-color: hsl(158, 36%, 37%);
  transition-duration: 0.5s;
  border-radius: 8px;
  border: hidden;
}

.add-to-cart-button:hover{
  background-color: hsl(158, 42%, 18%);
}

.button-image{
  margin-right: 4%;
}

.button-text{
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family:  "Montserrat", sans-serif;
  font-size: 1rem;
}